.updateBox {
  .gx{
    width: 100%;
    text-align: center;
    line-height: 100pr;
    font-size: 30pr;
    color: black;
  }
  .addUser{
    display: block;
    margin: 0 0 3% 90%;
  }
  .ivu-btn-error{
    background-color: gray;
    border-color:gray;
  }
}
